.add{
    margin-top: 15px;
    width: 1263px;
    height:230px;
}

.input{
    margin:30px 15%;
    display:flex;
}

.button{
    margin:0 40%;
}

.save{
    margin:30px 10% 30px;
}

.progress{
    height:60px;
    display:flex;
    justify-content: center;
    /*margin-bottom: 50px;*/
}

.detailItem{
    margin-top:75px;
    padding-top:50px;
    padding-bottom:50px;
}

.load-enter{
    opacity: 0;
}

.load-enter.load-enter-active{
    opacity:1;
    transition:300ms;
}

.load-leave{
    opacity:1;
}

.load-leave.load-leave-active{
    opacity:0;
    transition:300ms;
}
