
.history-enter {
    height: 0;
    opacity:0;
    transform:scale(0)
}

.history-enter.history-enter-active {
    opacity:1;
    height: 180px;
    transform:scale(1);
    transition: 500ms ease-out;
    overflow:hidden;
    transform-origin: top left;
}

.history-exit {
    transform:scale(1);
    opacity:1;
    height: 180px;
}

.history-exit.history-exit-active {
    transform:scale(0);
    opacity:0;
    height: 0;
    transition: 500ms ease-out;
    overflow:hidden;
    transform-origin:top left;
}



.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}
