.title{
    margin-left: 15%;
    color:red;
}

.contain0{
    display: flex;
    color: #333333;
    padding-bottom: 50px;
    margin-left:15%;
}

.image{
    font-size:20px;
    height: 180px;
    width: 250px;
    background-color: rgb(0, 139, 139);
    margin:0;
}
.contain1{
    flex-basis: 500px;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}

.contain2{
    flex-basis: 100%;
}

.item{
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.key{
    display:flex;
    flex-basis: 500px;
    align-items: center;
    font-size:18px;
    font-weight:600;
    color: #040036;
}



.check-circle{
    transform:scale(2);
    margin-right:30px;
}

.add-photo{
    margin-right:30px;
}


.check-circle:hover {
    cursor:pointer;
}

.show-image{
    height:500px;
    background: indianred;
    float:left;
    position:absolute;
    top:50px;
    right:500px;
    z-index: 1;
}


.show-enter{
    opacity:0;
}

.show-enter.show-enter-active{
    opacity:1;
    transition:200ms ease-out;
}

.show-exit{
    opacity:1;
}

.show-exit.show-exit-active{
    opacity:0;
    transition:200ms ease-out;
}



.test-enter{
    transform:rotate(0deg);
    height:0;
    opacity:0;
}

.test-enter.test-enter-active{
    transform:rotate(360deg);
    height:21px;
    opacity:1;
    transition:500ms linear;
}

.test-exit{
    transform:rotate(360deg);
    height:21px;
    opacity:1;
}

.test-exit.test-exit-active{
    transform:rotate(0deg);
    height:0;
    opacity:0;
    transition:500ms linear;
}
