.title{
    margin-left: 15%;
    color:red;
}

.contain0{
    display: flex;
    color: #333333;
    padding-bottom: 50px;
    margin-left:15%;
}

.image{
    font-size:20px;
    height: 180px;
    width: 250px;
    background-color: rgb(0, 139, 139);
    margin:0;
}
.contain1{
    flex-basis: 500px;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}

.contain2{
    flex-basis: 100%;
}

.item{
    display: flex;
    flex-basis: 100%;
}

.key{
    display:flex;
    flex-basis: 500px;
    align-items: center;
    font-size:18px;
    font-weight:600;
    color: #040036;
}

div.table{
}




.value{

}


