.download{
    height:100px;
    width:90px;
    margin-top: 50px;
    margin-left: 30px;
    display:flex;
    flex-wrap: wrap;
}


.downloadButton-enter{
    opacity:0;
}

.downloadButton-enter.downloadButton-enter-active{
    opacity:1;
    transition: 500ms;
}

/*
.downloadButton-leave{
    opacity:1;
}

.downloadButton-leave.downloadButton-leave-active{
    opacity:0;
    transition: 300ms;
}
*/
