div.updateHistory{
    width:90%;
    margin:0 auto;
}
div.updateHistory .paper{
    padding-bottom:10px;
}

section.updateInfo{
    font-weight:bold;
    margin: 30px 0 0 30px;
    padding:20px 0 10px 0;
}

section.afterUpdate{
    margin: 30px 0 0 30px;
    padding:20px 0 10px 0;
}

section.beforeUpdate{
    margin: 30px 0 10px 60px;
    padding:10px 0 10px 0;
    background-color: #d2d2d2;
}
