div.updateHistory{
    width:90%;
    margin:0 auto;
}

section.condition{
    display:flex;
    align-items:center;
    margin-top: 20px;
}

div.updateHistory section.condition span.checkbox{
    display:flex;
    flex-wrap:nowrap;
}


div.updateHistory .paper div.update{
    padding-bottom:1px;
}

section.updateInfo{
    font-weight:bold;
    margin: 30px 0 0 0;
    padding:20px 0 10px 30px;
    background-color: #e0e0e0;
}

section.afterUpdate, section.beforeUpdate{
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left:30px;
}

section.beforeUpdate{
    color:#bdbdbd;
}
