/*设置隐藏滚动条*/
html{
    height: 100%;
}

body{
    background-color: #e9e9e9;
    height: 100%;
}

#main, #update, #add{
    width: 1263px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
}



.searchInput{
    height: 135px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.searchPaper{
    display:flex;
    margin-Left:0.1%;
    flex:0.7;
    height:70px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



.showDetail-enter{
    /*height: 0;*/
    opacity:0;
    transform: translateX(-250px);
}

.showDetail-enter.showDetail-enter-active{
    /*height:100px;*/
    opacity:1;
    transform: translateX(0);
    transition: 500ms ease-in;
}

.showDetail-leave{
    /*height:100px;*/
    opacity:1;
    transform: translateX(0);
}

.showDetail-leave.showDetail-leave-active{
    /*height:0;*/
    opacity:0;
    transform: translateX(250px);
    transition:  500ms ease-in;
}





.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
}
